<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    list
    <nav>
        <a href="/">home</a>
        <a href="/list">list</a>
        <a href="/new">new</a>
    </nav>
    <div>
        <div class="alert"></div>
        <% if (posts.length > 0) { %>
            <ul>
            <% for (var i = 0; i < posts.length; i++) { %>
                <li id="<%= posts[i]._id.toString() %>">
                    <a href="/read/<%= posts[i].slug%>"><%= posts[i].title %></a>
                    <a class="post-delete" data-post-id="<%= posts[i]._id.toString() %>" data-csrf="<%=locals._csrf%>">delete</a>
                </li>
            <% } %>
            </ul>
        <% } else { %>
            No posts yet!
        <% } %>
    </div>
</body>
</html>