<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <% include head %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="nav nav-pills">
                    <li class="active"><a href="/home">home</a></li>
                    <li><a href="/new">new</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            <div class="alert"></div>
            <% if (posts.length > 0) { %>
                <div class="panel-group" id="accordion">
                <% for (var i = 0; i < posts.length; i++) { %>
                    <div class="panel panel-default" id="<%= posts[i]._id.toString() %>">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>"><%= posts[i].title %></a>
                            </h4>
                        </div>
                        <div id="collapse<%= i %>" class="panel-collapse collapse <% if (i===0) { %>in<% } %>">
                            <div class="panel-body">
                                <div>
                                    <pre><%= posts[i].code || '' %></pre>
                                    <h5>Description</h5>
                                    <div><%= posts[i].description || '' %></div>
                                    <h5>Context</h5>
                                    <div><%= posts[i].context || '' %></div>
                                    <% if(posts[i].ref1) { %>
                                    <a href="<%= posts[i].ref1 %>"><%= posts[i].ref1 %></a><br>
                                    <% } %>
                                    <% if(posts[i].ref2) { %>
                                    <a href="<%= posts[i].ref2 %>"><%= posts[i].ref2 %></a><br>
                                    <% } %>
                                    <% if(posts[i].playground) { %>
                                    <a href="<%= posts[i].playground %>"><%= posts[i].playground %></a>
                                    <% } %>
                                    
                                    <a class="post-delete" data-post-id="<%= posts[i]._id.toString() %>" data-csrf="<%=locals._csrf%>">delete</a>
                                    <a class="post-edit" href="/edit/<%= posts[i].slug.toString() %>">edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <% } else { %>
                No posts yet!
            <% } %>
            </div>
        </div>
    </div>
</body>
</html>