<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <% include head %>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="/">home</a></li>
                    <li class="active"><a href="/new">new</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
               <form class="form-horizontal" role="form" method="post" action="/new">
                   <input type="hidden" value="<%=locals._csrf%>" name="_csrf">
                   <% if (post._id) { %>
                   <input type="hidden" value="<%=post._id.toHexString() || ''%>" name="_id">
                   <% } %>
                       <div class="form-group">
                           <div class="col-sm-10">
                               <input class="form-control" type="text" name="title" placeholder="Title" value="<%=post.title || ''%>">
                           </div>
                           <div class="col-sm-2">
                               <input class="btn btn-default" type="submit" value="Save">
                           </div>
                       </div>
                       <div class="form-group">
                           <div class="col-sm-12">
                               <textarea class="form-control" name="code" placeholder="Code" cols="80" rows="12"><%=post.code || ''%></textarea>
                           </div>
                       </div>
                       <div class="form-group">
                           <div class="col-sm-6">
                               <textarea class="form-control" name="description" placeholder="Description" cols="40" rows="5"><%=post.description || ''%></textarea>
                           </div>
                           <div class="col-sm-6">
                               <textarea class="form-control" name="context" placeholder="Context" cols="40" rows="5"><%=post.context || ''%></textarea>
                           </div>
                       </div>
                       <div class="form-group">
                           <label for="ref1" class="col-sm-3 control-label">Reference URLs</label>
                           <div class="col-sm-9">
                               <input id="ref1" class="form-control" type="url" name="ref1" placeholder="http://" value="<%=post.ref1 || ''%>"><br>
                               <input class="form-control" type="url" name="ref2" placeholder="http://" value="<%=post.ref2 || ''%>">
                           </div>
                       </div>
                       <div class="form-group">
                           <label for="morecode" class="col-sm-3 control-label">Playground URL</label>
                           <div class="col-sm-9">
                               <input class="form-control" type="url" id="morecode" name="playground" placeholder="Playground URL" value="<%=post.playground || ''%>">
                           </div>
                       </div>
               </form>
           </div>
       </div>
       <% include footer %>
    </div>
</body>
</html>